@media (min-width: 768px) {

  .header {
    flex-direction: column;
    display: block;
  }
  
  .header-top {
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    font-weight: normal;
    font-size: smaller;
  }
  
  .header-bottom {
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
  
  .logo {
    padding: 10px 12px;
  }
  
  .logo-text {
    color: var(--main-theme-color);
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: none;
  }
  
  .logo-text:hover {
    cursor: pointer;
  }
  
  .menu-container {
    padding: 8px;
  }

  .bottom-header-list {
    font-weight: 200;
    font: optional;
    font-size: 14px;
  }

  .text-icon {
    font-family: var(--icons-font);
  }
  
  .top-header-option {
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
    transition: all 0.5s ease-out;
    color: var(--customGrey);
  }

  .btm-header-option {
    font-size: 14px;
    font-weight: 200;
    text-decoration: none;
    transition: all 0.5s ease-out;
    color: var(--customGrey);
  }

  .cc-link {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: var(--customOrange);
    color: var(--customOrange);
    font-size: 14px;
    font-weight: 200;
    border-width: 5px;
    height: 3rem;
    width: 8rem;
    align-items: center;
    padding: 50px;
  }
  
  .header-div {
    padding: 1% 15%;
  }

  .menu-container {
    padding: 0;
  }

  .menu-icon,
  .close-icon {
    display: none;
  }

  .menu-list {
    color: var(--sub-title-color);
    display: flex;
    align-items: center;
    padding: 10px 12px;
    gap: 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin: 0;
  }

  .btm-header-option:hover,
  .top-header-option:focus {
    color: black;
  }

  .menu-overlay {
    display: none;
  }

  .section {
    padding-left: 15%;
    padding-right: 15%;
  }

  .intro {
    padding-top: 5%;
    padding-bottom: 5%;
    background-position: bottom;
    background-image: url('../images/desktop-version/desktop-background.png');
    background-size: cover;
  }

  .content-container {
    width: auto;
    display: flex;
  }

  .intro-content-container {
    width: auto;
  }

  .welcome-text {
    font-size: 2.5vw;
    letter-spacing: 0.37px;
    width: 100%;
  }

  .main-title {
    font-size: 4.5vw;
    font-weight:800;
  }

  .intro-text-container {
    border-width: 0.25rem;
    background-color: var(--customGrey);
    width: 60%;
    padding: 1rem 1rem 0.1rem;
    margin-bottom: 5vh;
  }
  
  .intro-text {
    color: var(--customBlack);
    font-family: var(--secondary-font);
    font-size: 0.8rem;
    font-weight: 600;
  }

  .dates-text {
    font-size: 2.5vw;
  }
  
  .venue-text {
    font-size: 1.5vw;
  }

  .section-title {
    font-size: 2.2vw;
  }

  .program-content-container {
    padding: 40px 0 40px;
    }

  .program-container {
    flex-direction: row;
    padding: 20px auto 30px;
    gap: 0.2rem;
    }

  .activity {
    flex-direction: column;
    height: fit-content;
    width: 13.5vw;
    padding: 1rem;
    gap:0.2rem
    }

  .act-icon {
    height: 2.5rem;
    -webkit-filter: invert(1);
    filter: invert(1);
    }

  .activity-title {
    font-size: 1.5vw; 
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    }
    
  .activity-description {
    width: 100%;
    font-size: 0.9vw;
    text-align: center;
  }

  .whole-program-link {
    display: block;
    color: white;
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 400;
  }
  
  .join-link {
    display: none;
  }

  .featured-speakers {
    background-color: #f8f8f8;
  }


  .speakers-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0;
    gap: 15px;
    width: 100%;
  }

  .speaker-card {
    width: 400px;
    gap: 3rem;
  }

  .speaker-name {
    font-size: 140%;
  }

  .speaker-pos {
    font-size: 80%;
    margin-bottom: 0.6rem;
  }

  .speaker-act {
    font-size: 100%;
    margin-top: 0.8rem;
  }

  .footer-content-container,
  .about-footer-content-container {
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 70px 0 80px;
  }

  .footer-logo,
  .about-footer-logo {
    width: 220px;
    height: 45px;
  }

  .footerText1,
  .about-footerText1 {
    font-family: var(--main-font);
    font-size: 0.8vw;
    width: auto;
  }

  .footerText2,
  .about-footerText2 {
    display: block;
    width: 40rem;
    font-size: 0.8vw;
  }

  .about-welcome-text {
    display: none;
  }

  .about-main-title {
    font-size: 3vw;
    margin-top:40px;
  }

  .about-intro-short-text {
    display: none;
  }

  .about-intro-long-text {
    display: block;
    font-size: 0.8rem;
    margin: 20px 40px 30px;
  }

  .contact-text-container {
    margin-top: 20px;
    width: auto;
    font-size: 0.8rem;
  }

  .email-link {
    font-size: 0.8rem;
    margin-bottom: 30px;
  }

  .logo-title-box {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 5px;
  }

  .logo-text-container h5 {
    display: none;
  }

  .logo-text-container p {
    display: block;
    margin-top: 20px;
    width: 40rem;
    height: auto;
    font-family: var(--main-font);
    font-size: 0.7rem;
    font-weight: 600;
    align-self: center;
    text-align: center;
  }

  .logo-image-container {
    width: 80%;
    padding: 30px 0;
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .logo-image {
    width: 50%;
    height: 50%;
  }

  .past-text-container h5 {
    width: auto;
  }

  .past-images-container {
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 90px;
  }

  .past-image {
    width: 80%;
  }

  #about-partners {
    display: none;
  }

  .footer {
    background-color: #f8f8f8;
  }

  #about-footer {
    background-color: black;
  }

  .about-footer {
    background-color: black;
  }

  #about-footer-logo {
    -webkit-filter: invert(1);
    filter: invert(1);
  }

  .about-footer-text {
    color: white;
  }

}
